<!DOCTYPE html>
<html lang="en">
    <div id="navbar"></div>
	<script>
		fetch('navbar.html')
		.then(response => response.text())
		.then(html => {
			document.getElementById('navbar').innerHTML = html;
		})
		.catch(error => {
			console.error('Error fetching the navbar:', error);
		});

	</script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <style>
        body {
            background-color: rgb(55, 50, 66);
            background-image: url('https://source.unsplash.com/1920x1080/?hotel');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            position: relative;
            min-height: 100vh;
            min-width: 100vw;
        }
        p, h1, a
        {
            color: rgb(17, 33, 47);
        }
        
    </style>
</head>
<body>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6 main">
            <form id="surveyForm">
                <h1>Update User</h1>
                <p>Update User Details</p>

                <input class="box" type="text" name="name" id="name" pattern="[A-Za-z\s]{3,}"
                       title="Please enter a valid name" placeholder="Name" required/><br><br>


                <input class="box" type="text" name="phone" id="phone" pattern="[0-9]{10}"
                       title="Please enter a 10 digit number"
                       placeholder="Phone Number" required/><br><br>

                <input class="box" type="text" name="aadhar" id="aadhar" pattern="[0-9]{12}"
                       title="Please enter a 12 digit number"
                       placeholder="Aadhar Card Number" required/><br>
                       <br>

                <b>Choose your Room</b>
                <select class="box" id="room" name="room" required>
                    <option disabled selected>---Rooms---</option>
                    <option>Single Room</option>
                    <option>Triple Room</option>
                    <option>Deluxe Room</option>
                    <option>Junior Suite</option>
                    <option>Presidential Suite</option>
                </select>

                <br>
                <br>
                <b>Choose your Booking time</b><br><br>
                <label for="checkIn">CheckIn</label>
                <input type="datetime-local" class="form-control" id="checkIn" name="checkIn" placeholder="Check in time"
                       required min="2023-01-01T10:00" max="2023-12-31T22:00"><br>

                <label for="checkOut">CheckOut</label>
                <input type="datetime-local" class="form-control" id="checkOut" name="checkOut" placeholder="Date and Time"
                       required min="2023-01-01T10:00" max="2023-12-31T22:00"><br>

                <input class="box" type="email" name="email" id="email"
                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="Please enter a valid email address"
                       placeholder="E-Mail" required/><br>

                
                <br>
                <input type="button" id="updateDetails" value="Update" onclick="updateForm()"/><br><br>
                <input type="button" id="retrieveDetails" value="Retrieve" onclick="retrieveRecord()" /><br><br>
            </form>
        </div>

        <div class="col-md-3">
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
function updateForm() {
    $('#updateDetails').prop('disabled', true);
    $.ajax({
        url: '/survey_form/update',
        type: 'PUT',
        data: $('#surveyForm').serialize(),
        success: function(response) {
            console.log(response);
            alert('Record updated successfully!');
            clearForm();
            $('#submitDetails').show();
            $('#updateDetails').show();
            $('#deleteDetails').show();
        },
        error: function(error) {
            console.log(error);
            alert('Error updating the record!');
        },
        complete: function() {
            $('#updateDetails').prop('disabled', false);
        }
    });
}


function retrieveRecord() {
    var aadhar = prompt("Please enter the Aadhar Card Number to retrieve the record:");
    if (aadhar !== null) {
        $.ajax({
            url: '/survey_form/retrieve',
            type: 'GET',
            data: { aadhar: aadhar },
            success: function(response) {
                console.log(response);
                if (response) {
                    fillForm(response);
                    $('#submitDetails').show();
                    $('#updateDetails').show();
                    $('#deleteDetails').show();
                } else {
                    alert('Record not found!');
                }
            },
            error: function(error) {
                console.log(error);
                alert('Error retrieving the record!');
            }
        });
    }
}

function fillForm(data) {
    $('#name').val(data.name);
    $('#phone').val(data.phone);
    $('#aadhar').val(data.aadhar);
    $('#room').val(data.room);
    $('#checkIn').val(data.checkIn);
    $('#checkOut').val(data.checkOut);
    $('#email').val(data.email);
}

function clearForm() {
    $('#updateForm')[0].reset();
    $('#submitDetails').show();
    $('#updateDetails').show();
    $('#deleteDetails').show();
}

</script>
                      
</body>
<div id="footer" style="position: fixed; left: 0; bottom: 0; width: 100%;"></div>
	<script>
		fetch('footer.html')
		.then(response => response.text())
		.then(html => {
			document.getElementById('footer').innerHTML = html;
		})
		.catch(error => {
			console.error('Error fetching the footer:', error);
		});
	</script>
</html>
